#movistarapp__container-app {
  display: block;
  margin: 0 auto;
  width: 1446px;
  height: 1228px;
  max-width: 1446px;
}

@media all and (max-width: 1445px) {
  #movistarapp__container-app {
    display: block;
    margin: 0 auto;
    width: 100vw;
  }
}
